body {
    background-image: url("https://www.barnes-provence-littoral.com/images/visuels_articles/1408_3XZ2e_v.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace; /* Gives a retro feeling */
    color: white;
}

#background {
    background-color: rgba(173, 216, 230, 0.7); /* Light blue with some transparency */
    padding: 20px;
}

nav {
    background-color: #191970; /* Dark blue */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1, h3 {
    text-align: center;
    color: #191970; /* Dark blue */
}

h1{
    font-size: 50px;
    font-weight: 1200;
    margin-bottom: -1.5rem;
}

.infos {
    background-color: #191970; /* Dark blue */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}


img {
    border-radius: 10px;
}