body {
    background-image: url("https://www.barnes-provence-littoral.com/images/visuels_articles/1408_3XZ2e_v.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace; /* Gives a retro feeling */
    color: white;
}

#background {
    background-color: rgba(173, 216, 230, 0.7); /* Light blue with some transparency */
    padding: 20px;
}

nav {
    background-color: #191970; /* Dark blue */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1, h3 {
    text-align: center;
    color: #191970; /* Dark blue */
}

h1{
    font-size: 50px;
    font-weight: 1200;
    margin-bottom: -1.5rem;
}

.infos {
    background-color: #191970; /* Dark blue */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}


img {
    border-radius: 10px;
}

#gif {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.all-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.all-table table {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}

.all-table th, .all-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.all-table tr:nth-child(even) {
    background-color: #f2f2f2;
    color: #191970;
}

.all-table tr:nth-child(odd) {
    background-color: #191970;
    color: white;

    a{
        color: white;
        text-decoration: underline;
    }
}

.all-table tr:hover {
    background-color: #ddd;
}

.all-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #7272fc;
    color: white;
}